li {
    list-style-type: none;
}
ul {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.ships li img {
	height: 200px;
    max-width: 100%;
    margin-top: 10px;
}
.selected div div {
    background-color: black;
    color: white;
}
.caption  {
    background: none !important;
}
.ships li.selected div div:hover {
    background-color: #BBD8DC !important;
    color: white;
}
.ships li div div:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
#search-box {
    position: absolute;
    width: 80px;
    top: 25px;
    right: 70px;  
}
@media screen and (max-width: 658px) {
    #search-box {
    position: absolute;
    top: 75px;
    right: 50px;
    }
}
@media screen and (max-width: 658px) {
    .title {
        text-align: left !important;
        margin-left: 8%;
    }
}
h2 {
    display: inline-block;
    width: 100%;
}
.ships li:active{    
    transform: translateY(4px);
    color: #607D8B;
    background-color: #DDD;    
}