<div *ngIf="ship">
	<div class="row detail">

		<div class="col-md-offset-1 col-md-5 text-center page">

			<img src="/assets/ships/{{ship.id}}/{{selectedPhoto}}.jpg" class="row active-image">
		</div>

		<div class="col-md-5">

			<div class="row">
				<div class="col-md-12 title">
					<h1>{{ship.name}}</h1>
					<h5>{{ship.originalName}}</h5>
				</div>
			</div>

			<div class="row">
				<div *ngFor="let photo of ship.photos" class="square">
					<a class="thumbnail">
						<div class="frontpage_square">
							<img src="/assets/ships/{{ship.id}}/{{photo}}.jpg" class="img active-image img-responsive full-width thumb" (click)="onSelect(photo)"
							 [class.selected]="photo === selectedPhoto">
						</div>
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<label>Произход:</label>
				</div>

				<div class="col-md-3">
					<p>{{ship.origin}}</p>
				</div>

				<div class="col-md-7">
					<label>Пуснат на вода:</label>
					<p>{{ship.year}}</p>
				</div>
			</div>

			<div class="row line-breaker">
				<p class="text-justify">{{ship.description}}</p>
			</div>

			<div class="row">
				<button class="col-md-offset-8 col-md-4" (click)="goBack()">Обратно</button>
			</div>



			<!--<div class="row">
				<img src="/assets/ships/{{ship.id}}/{{photo}}.jpg" alt="" *ngFor="let photo of ship.photos" class="col-md-4 img-rounded thumb"
				 (click)="onSelect(photo)" [class.selected]="photo === selectedPhoto">
			</div>-->
		</div>
	</div>
</div>