
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc; 
  cursor: auto;
}
.row {
  margin-top: 20px;
}
h1 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
h5{
  margin-top: 0px;
  padding-top: 0px;
}
button {
  margin-bottom: 50px;
}
.padme {
  padding-top: 8px;
}