<div *ngIf="ship">
	<div class="row detail">

		<div class="col-md-offset-1 col-md-5 text-center">

			<img src="/assets/ships/{{ship.id}}/{{selectedPhoto}}.jpg" class="img-rounded row active-image row-eq-height">
		</div>

		<div class="col-md-5">

			<div class="row">
				<div class="col-md-12 title">
					<h1>{{ship.name}}</h1>				
					<h5>{{ship.originalName}}</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<label>Произход:</label>
				</div>

				<div class="col-md-3">
					<p>{{ship.origin}}</p>
				</div>

				<div class="col-md-7">
					<label>Пуснат на вода:</label>
					<p>{{ship.year}}</p>
				</div>
			</div>

			<div class="row line-breaker">
				<p class="text-justify">{{ship.description}}</p>
			</div>

			<div class="row">
				<button class="col-md-offset-8 col-md-4" (click)="goBack()">Обратно</button>
			</div>

			<div class="row">
				<img src="/assets/ships/{{ship.id}}/{{photo}}.jpg" alt="" *ngFor="let photo of ship.photos" class="col-md-4 img-rounded thumb row-eq-height"
				 (click)="onSelect(photo)" [class.selected]="photo === selectedPhoto">
			</div>
		</div>
	</div>
</div>