<div *ngIf="ship">
	<div class="row">

		<img src="/assets/ships/ship{{ship.id}}.jpg" class="img-rounded col-md-offset-1 col-md-5 text-center">

		<div class="col-md-5">

			<div class="row">
				<h1 class="col-md-6">{{ship.name}}</h1>

				<div class="col-md-6 padme">
					<label class="col-md-6 control-label">Country:</label>
					<div class="col-md-6">
						<p>{{ship.country}}</p>
					</div>

					<label class="col-md-6 control-label">Year:</label>
					<div class="col-md-6">
						<p>{{ship.year}}</p>
					</div>
				</div>
			</div>

			<div class="row">
				<p class="text-justify">{{ship.description}}</p>
			</div>

			<div class="row">
				<button class="col-md-offset-8 col-md-4" (click)="goBack()">Обратно</button>
			</div>
		</div>
	</div>

	<div class="row">
		<carousel-basic [ship]="ship"></carousel-basic>
	</div>

</div>