button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: hand;
  margin-bottom: 50px;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc; 
  cursor: auto;
}
.row {
  margin-top: 0px;
}
h1 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
h5{
  margin-top: 0px;
  padding-top: 0px;
  color: gray;
  font-weight: bold;
}
.padme {
  padding-top: 8px;
}
.line-breaker {
  white-space: pre-line;
}
.img-rounded {
  margin-top: 25px;
}
.selected-image {
  width: 100%;
}