<div class="container-fluid navigation-bar">
  <div class="pull-left">
    <img src="assets/logo-ship.jpg" class="pull-left">
    <div class="test">
      <h3>
        Юлиан
      </h3>
      <h5>
        И КОРАБИТЕ
      </h5>
    </div>
  </div>
  <nav class="menu pull-right">
    <a routerLink="/dashboard" routerLinkActive="active">НАЧАЛО</a>
    <a routerLink="/ships" routerLinkActive="active">КОРАБИ</a>
    <a routerLink="/about" routerLinkActive="active">ЗА АВТОРА</a>
    <a routerLink="/contacts" routerLinkActive="active">КОНТАКТИ</a>
  </nav>
</div>